bootstrap_url: http://{{ groups['dcos-bootstrap'][0] }}:80
cluster_name: 'dcos-ansible'
exhibitor_storage_backend: static
ip_detect_filename: {{ bootstrap_basedir }}/genconf/ip-detect
master_list:
{% for host in groups['mesos-master'] %}
- {{ host }}
{% endfor %}

resolvers:
- 8.8.4.4
- 8.8.8.8
